.logo {
  width: 100px;
  margin-right: 10px;
}

.nav-bar {
  font-family: 'Inter', sans-serif;
  color: #2F4F4F;
  display: flex;
  align-items: center;
  background-color: #F0FFFF;
  padding: 30px 25px;
  height: 90px;
}

.nav-bar > h2 {
  font-weight: 700;
}

.list  {
  margin: 0 auto;
  max-width: 500px;
}

.list > li {
  padding-block: 10px;  
}

main {
  background-color: #282D35;
  padding: 57px 27px;
  font-family: 'Inter', sans-serif;
  color: white;
}

.title {
  font-size: 25px;
  text-align: center;
}

::marker {
  font-size: 1.5em;
  color: #61DAFB;
}